.gitignore
.lintstagedrc
.nvmrc
.prettierignore
.vscode-test.mjs
commitlint.config.mjs
tsconfig.json
.github/**
.husky/**
.vscode/**
src/**
esbuild.js
eslint.config.mjs

# media
media/images/vscode-lottie-preview-feature-1.gif
media/images/vscode-lottie-preview-feature-2.gif

# webview-ui
webview-ui/**
!webview-ui/build/**

# node_modules
node_modules/**
!node_modules/@dotlottie/dotlottie-js/**
!node_modules/@dotlottie/player-component/**

