:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgba: 249, 251, 255, 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgba));
}

.lottie-viewer {
  width: 100%;
}

.dotlottie-player {
  margin: 0 auto;
}

.lottie-viewer > div {
  flex: 1;
}

.wrap {
  display: flex;
  margin: 12px;
}

.wrap > div,
.wrap > fieldset {
  flex: 1;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 12px;
  gap: 4px;
}

.input-box > label,
.input-box > input,
.input-box > select {
  width: 100%;
}

fieldset {
  border: none;
}
